name: Check Management Index

on:
  schedule:
    - cron: '*/5 * * * *'
  workflow_dispatch:
permissions:
  contents: write

jobs:
  fetch-and-archive:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install requests beautifulsoup4 openai tqdm boto3

      - name: Fetch latest original index
        run: |
          curl -sS -f https://prod-noticeindex.bluearchiveyostar.com/prod/index.json | jq . > latest_origin.json

      - name: Compare and Process
        id: check_sync
        env:
          DEEPSEEK_API_KEY: ${{ secrets.DEEPSEEK_API_KEY }}
          CF_ACCOUNT_ID: ${{ secrets.CF_ACCOUNT_ID }}
          CF_API_TOKEN: ${{ secrets.CF_API_TOKEN }}
        run: |
          if [ ! -f "original_index.json" ] || ! diff -q latest_origin.json original_index.json > /dev/null; then
            echo "update_detected=true" >> $GITHUB_ENV
            cp latest_origin.json original_index.json
            mkdir -p prod
            cp latest_origin.json prod/index.json
            
            curl -X POST "https://web.archive.org/save/https://prod-noticeindex.bluearchiveyostar.com/prod/index.json" \
               -H "Content-Type: application/x-www-form-urlencoded" \
               --data-urlencode "url=https://prod-noticeindex.bluearchiveyostar.com/prod/index.json" \
               --data-urlencode "capture_outlinks=on" > /dev/null || echo "Archive skipped"
            
            python translate_script.py
          else
            echo "update_detected=false" >> $GITHUB_ENV
          fi

      - name: Get UTC timestamp
        if: env.update_detected == 'true'
        id: get_time
        run: echo "time=$(date -u '+%Y-%m-%d %H:%M:%S UTC')" >> "$GITHUB_OUTPUT"

      - name: Commit Changes
        if: env.update_detected == 'true'
        uses: qoomon/actions--create-commit@v1
        with:
          message: "Update: ${{ steps.get_time.outputs.time }}"
          skip-empty: true

      - name: Push and Dispatch
        if: env.update_detected == 'true'
        run: |
          git push origin HEAD
          curl -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: token ${{ secrets.APK_SRC_REPO }}" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            https://api.github.com/repos/${{ github.repository }}/dispatches \
            -d '{"event_type": "run-deployment"}'
